{% extends "base.html" %} {% block head %}
<title>About</title>
{% endblock %} {% block body %}
<div class="container">
    <br>
    <hr>
    <h3 class="text-white text-center">Thisalksdfhlaksdhf Im tired bro</h3>
    <div class="row">
        <div class="card text-white bg-secondary mb-3">
            <div class="card-header">im fed up</div>
            <div class="card-body">
                <p class="card-text display-4 ">THANK YOU SO MUCH FOR EVEN CHECKING OUT THIS PAGE</p>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="container">

            <div class="row text-white">
                <div class="row">
                    <div class="col-md-4">
                        <img class="rounded-circle" src="https://source.unsplash.com/random/140x140" alt="Generic placeholder image" width="140" height="140">
                        <h2>tweaked tf by</h2>
                        <p>my asshole.</p>
                        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                    </div>

                    <div class="col-md-4">
                        <img class="rounded-circle" src="https://source.unsplash.com/random/140x141" alt="Generic placeholder image" width="140" height="140">
                        <h2>front end stuff by</h2>
                        <p>again me</p>
                        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                    </div>

                    <div class="col-md-4">
                        <img class="rounded-circle" src="https://source.unsplash.com/random/200x200" alt="Generic placeholder image" width="140" height="140">
                        <h2>backend stuff</h2>
                        <p>only me coz i have no frens :'(</p>
                        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                    </div>
                </div>

            </div>


        </div>
    </div>
</div>

</div>

{% endblock %}